/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Press Start 2P", sans-serif;
  --second-family: "SF Pro Text", sans-serif;
  --third-family: "Open Sans", sans-serif;
}